.header-cardapio {
  width: 100%;
  padding: 0px 34px;
  background-color: $cor-primaira-cardapio;

  color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 47px;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 34px;

    h2 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 23px;
      line-height: 39px;
    }

    .carrinho {
      img {
        width: 38px;
      }
    }
  }
}

.main-cardapio {
  position: relative;
  height: calc(100vh - 89px);
  display: flex;

  .imagem-principal {
    width: 100%;
    height: calc(100vh - 89px);
    object-fit: cover;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
  }

  .overlay {
    z-index: 1;
    width: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
  }

  .esquerda {
    width: 100%;
    max-width: 256px;
    background: #0d0d0d;
    padding: 34px 0px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      margin-bottom: 34px;
    }

    nav {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .card-nav {
        width: 100%;
        height: 119.44px;
        padding: 8px 0px;

        background: black;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        h2 {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 120%;

          color: #ffffff;
        }

        &:hover {
          background-color: $cor-primaira-cardapio;
        }
      }
    }
  }

  .direita {
    margin-top: 89px;
    padding-left: 34px;
    padding-right: 34px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // gap: 20px;

    .card-produto {
      display: flex;
      padding: 21px;
      background: rgba(0, 0, 0, 0.59);
      border-radius: 0px 14px 14px 0px;

      width: 403px;
      height: 184px;
      // margin: 20px;

      h2 {
        margin-top: 15px;
        margin-bottom: 13px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 112%;
        letter-spacing: -1px;

        color: white;
      }

      p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 112%;
        letter-spacing: -1px;

        color: white;
      }

      &:hover {
        background: $cor-primaira-cardapio;
        cursor: pointer;
      }
    }

    .modal {
      display: none;
      /* Esconde o modal por padrão */
      position: fixed;
      /* Fica fixo na tela */
      z-index: 1;
      /* Fica acima de outros elementos */
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      /* Habilita rolagem se necessário */
      background-color: rgb(255, 255, 255);
      /* Cor de fundo preta */
      // background-color: rgba(0, 0, 0, 0.2); 
      /* Fundo com opacidade */
    }

    .modal-content {
      background-color: #fefefe;
      margin: auto;
      /* Centraliza o modal */
      padding: 20px;
      border: 1px solid #888;
      width: 647.57px;
      /* Largura do modal */
      height: 525.88px;
      /* Altura do modal */
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      /* Necessário para o botão de fechar */
      top: 50%;
      transform: translateY(-50%);
    }

    .close {
      color: #aaa;
      position: absolute;
      top: 10px;
      right: 25px;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    #modal-imagem {
      width: 100%;
      height: auto;
      max-height: 200px;
      object-fit: cover;
    }
  }
}