@import 'variables';
@import 'cardapio';
@import 'loginAdm';
@import 'reset';
@import 'adm';
@import 'modal';
@import 'menu';
@import 'funcionario';
@import 'grafico';
@import 'atendente';
@import 'atendenteDetalhes'